{% extends  'base.html' %}
{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="container">

    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Home Page</h1>
          <p>Welcome to my Blog,where I learn about different tech</p>
          <p>
            <a class="btn btn-primary" href="/posts" role="button">Go to Posts»</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}